@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body{
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  font-family: 'Source Code Pro', monospace;
  
}

button{
  margin: 0 2rem 0 2rem;
}

@media screen and (min-height: 911px) {
  html {
    font-size: 24px;
  }
}





